body {
  font-family: Arial, sans-serif;
  background: url('background.png') no-repeat center center fixed;

}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f8f9fa;
}

.header img {
  height: 50px;
}

.header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.home-content {
  text-align: center;
  padding: 50px;
}

.content {
  text-align: center;
  padding: 50px;
}

.member-Quang img {
  width: 20%;
  height: auto;

}


.member img {
  width: 30%;
  height: auto;
}


.Thinh img {
  width: 20%;
  height: auto;
}

.member-Huy img {
  width: 20%;
  height: auto;

}